<div class="slider-area">
            <!-- Slider -->
            <div class="block-slider block-slider4">
                <ul class="" id="bxslider-home4">
                    <li>
                        <img src="/res/site/img/1.png" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                Lindas <span class="primary"> <strong>Orquideas</strong></span>
                            </h2>
                             <a class="caption button-radius" href="#"><i class="fas fa-arrow-right"></i> Comprar</a>
                        </div>
                    </li>
                    <li><img src="/res/site/img/2.png" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                Aluguel <span class="primary"> <strong>Para eventos</strong></span>
                            </h2>
                            <a class="caption button-radius" href="#"><i class="fas fa-arrow-right"></i> Comprar</a>
                        </div>
                    </li>
                    <li>
                        <img src="/res/site/img/3.png" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                Produtos para<span class="primary"> <strong>manutenção</strong></span>
                            </h2>
                             <a class="caption button-radius" href="#"><i class="fas fa-arrow-right"></i> Comprar</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- ./Slider -->
    </div> <!-- End slider area -->
    
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>Entrega para todo o país</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-promo promo3">
                        <i class="fa fa-lock"></i>
                        <p>Site totalmente seguro</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-promo promo4">
                        <i class="far fa-credit-card"></i>
                        <p>Parcelamos no cartão</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->
    
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Produtos</h2>
                        <div class="product-carousel">
                            {loop="$products"}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{$value.desphoto}" alt="">
                                    <div class="product-hover">
                                        <a href="/cart/{$value.idproduct}/add" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Comprar</a>
                                        <a href="/products/{$value.desurl}" class="view-details-link"><i class="fa fa-link"></i>Detalhes</a>
                                    </div>
                                </div>
                                
                                <h2><a href="/products/{$value.desurl}">{$value.desproduct}</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>R${function="formatPrice($value.vlprice)"}</ins>
                                </div> 
                            </div>
                            {/loop}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
    
